@import "tailwindcss";
/* @theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
} */

/* @layer components {
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
} */
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

